body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 70);
    background-color: rgb(224, 224, 224);
}
.content{
    width: 80%;
    margin: 0 auto;
}
header{
    background-color: rgb(207, 207, 207);
    color: rgb(0, 0, 70);
    border-bottom: 5px solid goldenrod;
}
header > div{
    display: flex;
}
hgroup{
    margin: 20px 10px 10px 15px;
}
hgroup h1{
    font-size: 35px;
    margin-bottom: 0px;
}
hgroup h2{
    margin-top: 0px;
    font-size: 25px;  
}
figure{
    margin-left: 200px;
    margin-top: 30px;
}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.contacts{
    margin-top: 30px;
    margin-left: 200px;
    margin-bottom: 20px;
}
dl{
    margin: 0;
    width: 100%;
    display: flex;
}
dt{
    width: 150px;
    background-color: goldenrod;
    color:rgb(0, 0, 70);
    padding:4px;
}
dd{
    width: 340px;
    color:  goldenrod;
    padding-left: 20px;
    margin-left: 0px;
    background-color: rgb(0, 0, 70);
}
.contact-value a{
    text-decoration: none;
    color: goldenrod;
}
section{
    display: grid;
    grid-template-columns: 0.6fr 4fr;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid goldenrod;
}
.skills-secondary,
 #experiences .experience:nth-of-type(2),
 #education .experience:nth-of-type(2){
    grid-column: 2/3;
 }
h3{
    color: goldenrod;
    font-style: italic;
    font-size: 22px;
}
.edu-location{
    font-weight: bold;
}
.date-separator{
    color:goldenrod;
    font-weight: bold;
    font-size: 20px;
}
.edu-details, .experience-details{
    color: rgb(0, 0, 70);
    font-style: italic;
}
.experience h4,ul ,#profile p{
    padding-top: 10px;
    margin-bottom: 1px;
}
p{
    padding-right: 50px;
}
ul{
    padding-left: 0;
    margin-left: 10px;
}

/*
     max width for @ media = 600 px to show the difference on the laptop
     but it should be less than 480 for mobile 
*/

@media only screen and (max-width: 600px) {
    .content{
        display: flex;
        flex-direction: column;
    }
    header > div{
        display: initial;
    }
    hgroup{
        margin-left: 100px;
    }
    figure{
        margin-left: 100px;
        padding-bottom: 50px;
    }
    #contact h3{
        display: block;
    }
   #contact div{
        position: relative;
        width: 100%;
    }
    dl{
        margin-left: 0px;
        width: 100%;
    }
    dt{
        width: 40%;
    }
    dd{
        width: 60%;
        background-color: white;
        color: red;
    }
}